/*
Copyright 2026 Cash Carter

This program is free software: you can redistribute it and/or modify it under
the terms of the GNU Affero General Public License as published by the Free Software Foundation,
either version 3 of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY;
without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
See the GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License along with this program.
If not, see <https://www.gnu.org/licenses/>.
*/

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    background-color: black;
}

.wrapper {
  box-sizing: border-box;
  min-height: 100%;

  display: flex;
  flex-direction: column;
}

.image {
    height: 100%;
    max-width: 25%;
    width: auto;
    margin: 3px;
    
}

.image-list {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.huge-image {
    width: 50%;
    height: auto;
}

audio::-webkit-media-controls-play-button,
     audio::-webkit-media-controls-panel {
     background-color: #575757;
     padding-left: 1%;
     }

header {
    display: flex;
    flex-direction: row; /* This is default so you can omit it but it's good to be explicit  */
    justify-content: flex-start; /* This will snap all content of header to the left due to 'flex-direction: row'  */
    background-color: rgb(49, 49, 49);
    border-bottom: solid;
    padding: 0.25rem 1rem; /* Padding top/bottom then left/right. 1rem = default pixel size of html font (14px or 16px etc) so 0.5rem = 7px or 8px  */
}

.logo {
    height: 50px; /* Set the height of your image  */
    width: auto; /* Keep the height/width ratio of source image  */
    
    
}

nav {
    display: flex;
    flex-direction: row;
    flex: 1; /* Use the rest of the available space of the <header> */
    justify-content: right;
    align-items: center; /* Puts the links vertically in the center of the <nav> */
}

nav a:hover {
    padding: 1rem;
    text-decoration: none; /* Take away the default link styling  */
    color: rgb(51, 145, 255);
    border-bottom: 2px solid transparent;
}

nav a:active {
    padding: 1rem;
    text-decoration: none; /* Take away the default link styling  */
    color: rgb(1, 119, 255);
    border-bottom: 2px solid transparent;
}

nav a {
    padding: 1rem;
    text-decoration: none; /* Take away the default link styling  */
    font-size: larger;
    color: rgb(255, 255, 255);
    border-bottom: 2px solid transparent;
}

footer {
    position: fixed;
  left: 0;
  bottom: 0;
  width: 2.5%;
  background-color: dimgray;
  color: white;
  text-align: left;
  padding: .25rem 1rem;
}

footer a {
    color: aqua;
    font-size: large;
}